#mainNavBar {
  background-color: #92b7da;
  height: 80px;
  flex-wrap: nowrap;
}

.add-recipe {
  visibility: hidden !important;
}


.logobtn {
  height: 50px;
  width: 50px;
  position: relative;
}

#chefHatLogo {
  height: 80px;
  width: 80px;
  position: relative;
}


#potLuckLogo {
  font-family: "Imperial Script";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  margin-left: -20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body {
  background-color: #e5e5e5;
  font-family: poppins;
  padding-top: 80px;
}
#leftColumn {
  width: 25%;
  margin: 20px;
  margin-top: 80px;
}
#rightColumn {
  width: 25%;
  margin: 20px;
  margin-top: 20px;
  height: 100%;
}
#hero {
  width: 50%;
  height: 100%;
}

.header-a-tag {
  text-decoration: none;
  color: inherit;
}


.avatar {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}
.avatarBackground {
  height: 60px;
  width: 60px;
  
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 2px;
}


.chefPicDiv {
  height: 100%;
  width: 100%;
  
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 2px;
}

.card-header {
  background-color: white;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 0.1rem;
}

.userName {
  margin-top: 20px;
}

.suggestedChef {
  border: none;
}

.suggested-chef-title {
  margin-top: 50px;
}

.header-of-footer {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 28px;
  margin-bottom: 10px;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 200;
}

.suggestedChefUserName {
  margin-left: 10px;

  color: inherit !important; 
  text-decoration: none !important;
}
.card-body {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none !important;
  color: inherit !important; 
}

.card-title {
  margin: 10px;
}

.food-pic {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.btn-primary {
  background-color: #92b7da;
  color: #000000;
}

.card-text {
  text-align: left;
}

.mainCard {
  margin-bottom: 25px;
  margin-top: 20px;
  width: 456px;
  
}

.r-col-footer-container {
  margin-bottom: 25px;
  width: 279px;
}

.chef-bio {
  padding: 20px;
}

#hamburgerMenu {
  display: none;
}

.footer-of-footer {
  border-top: 1px solid #d2d2d2;
  font-size: 14px;
  font-weight: 200;
}

.chef-homepage-header {
  margin-bottom: 20px;
  border-radius: 20px;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 0.1rem;
  border: none;
}

.chefBio {
  margin-left: -5px;
  font-size: 14px;
  font-weight: 400;
  text-align: start;
}
.chefBioName {
  text-align: center;
  margin-top: 13px;
  padding-bottom: 5px;
}

.bigAvatarBackground {
  height: 150px;
  width: 150px;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 100%;
}
.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 130px;
  max-height: auto;
  background-color: #92b7da;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
  font-size: small;
  border: black;
  border-width: 1px;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.card {
  border-radius: 25px !important;
}

.mainCard {
  border-radius: 25px !important;
}
.card-header {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  
}

.recipe {
  border-top: 1px solid #d2d2d2;
}

.ingredients-list {
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
  list-style: circle;
}

.recipe-steps {
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
  #leftColumn {
    display: none;
  }
  #rightColumn {
    display: none;
  }
  /* .nav-btns {
    display: none;
  }  */

   #chefHatLogo {
    display: none !important;
    height: 0;
  }
  #potLuckLogo {
    margin-left: 1px;
  }
  /* #hamburgerMenu {
    display: unset;
    height: 50px;
    width: 50px;
    position: relative;
  } */
  
}


@media only screen and (max-width: 375px) {
    .mainCard {
        margin-bottom: 25px;
        margin-top: 20px;
        width: fit-content;
        
      }
    }